<div class="row">
  <div class="col-sm-12 skills">
    <p class="plume">Frequently used</p>

    <div class="row skill-container">
      <!--  -->
      <!-- Ruby -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/ruby.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Ruby</span>
        </div>
      </div>
      <!--  -->
      <!-- Ruby -->
      <!--  -->

      <!--  -->
      <!-- Rails -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/rails.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Rails</span>
        </div>
      </div>
      <!--  -->
      <!-- Rails -->
      <!--  -->

      <!--  -->
      <!-- Sidekiq -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/sidekiq.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Sidekiq</span>
        </div>
      </div>
      <!--  -->
      <!-- Sidekiq -->
      <!--  -->

      <!--  -->
      <!-- Redis -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/redis.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Redis</span>
        </div>
      </div>
      <!--  -->
      <!-- Redis -->
      <!--  -->

      <!--  -->
      <!-- HTML -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/html.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">HTML</span>
        </div>
      </div>
      <!--  -->
      <!-- HTML -->
      <!--  -->

      <!--  -->
      <!-- CSS -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/css.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">CSS</span>
        </div>
      </div>
      <!--  -->
      <!-- CSS -->
      <!--  -->

      <!--  -->
      <!-- JavaScript -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/javascript.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">JavaScript</span>
        </div>
      </div>
      <!--  -->
      <!-- JavaScript -->
      <!--  -->

      <!--  -->
      <!-- Sass -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/sass.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Sass</span>
        </div>
      </div>
      <!--  -->
      <!-- Sass -->
      <!--  -->

      <!--  -->
      <!-- MySQL -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/mysql.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">MySQL</span>
        </div>
      </div>
      <!--  -->
      <!-- MySQL -->
      <!--  -->

      <!--  -->
      <!-- Ubuntu -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/ubuntu.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Ubuntu</span>
        </div>
      </div>
      <!--  -->
      <!-- Ubuntu -->
      <!--  -->

      <!--  -->
      <!-- Docker -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/docker.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Docker</span>
        </div>
      </div>
      <!--  -->
      <!-- Docker -->
      <!--  -->

      <!--  -->
      <!-- Docker Compose -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/docker-compose.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Docker Compose</span>
        </div>
      </div>
      <!--  -->
      <!-- Docker Compose -->
      <!--  -->

      <!--  -->
      <!-- Git -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/git.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Git</span>
        </div>
      </div>
      <!--  -->
      <!-- Git -->
      <!--  -->

      <!--  -->
      <!-- Gitlab -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/gitlab.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Gitlab</span>
        </div>
      </div>
      <!--  -->
      <!-- Gitlab -->
      <!--  -->

      <!--  -->
      <!-- Bitbucket -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/bitbucket.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Bitbucket</span>
        </div>
      </div>
      <!--  -->
      <!-- Bitbucket -->
      <!--  -->

      <!--  -->
      <!-- Github -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/github.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Github</span>
        </div>
      </div>
      <!--  -->
      <!-- Github -->
      <!--  -->

      <!--  -->
      <!-- Circle CI -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/circle-ci.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Circle CI</span>
        </div>
      </div>
      <!--  -->
      <!-- Circle CI -->
      <!--  -->

      <!--  -->
      <!-- Rollbar -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/rollbar.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Rollbar</span>
        </div>
      </div>
      <!--  -->
      <!-- Rollbar -->
      <!--  -->
    </div>

  </div>
</div>
