<div class="row">
  <div class="col-sm-12 skills">
    <p class="plume">Frequently used</p>

    <div class="row skill-container">
      <!--  -->
      <!-- Ruby -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/ruby.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Ruby</span>
        </div>
      </div>
      <!--  -->
      <!-- Ruby -->
      <!--  -->

      <!--  -->
      <!-- Rails -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/rails.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Rails</span>
        </div>
      </div>
      <!--  -->
      <!-- Rails -->
      <!--  -->

      <!--  -->
      <!-- MySQL -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/mysql.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">MySQL</span>
        </div>
      </div>
      <!--  -->
      <!-- MySQL -->
      <!--  -->

      <!--  -->
      <!-- Redis -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/redis.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Redis</span>
        </div>
      </div>
      <!--  -->
      <!-- Redis -->
      <!--  -->

      <!--  -->
      <!-- HTML -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/html.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">HTML</span>
        </div>
      </div>
      <!--  -->
      <!-- HTML -->
      <!--  -->

      <!--  -->
      <!-- CSS -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/css.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">CSS</span>
        </div>
      </div>
      <!--  -->
      <!-- CSS -->
      <!--  -->

      <!--  -->
      <!-- JavaScript -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/javascript.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">JavaScript</span>
        </div>
      </div>
      <!--  -->
      <!-- JavaScript -->
      <!--  -->

      <!--  -->
      <!-- Sass -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/sass.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Sass</span>
        </div>
      </div>
      <!--  -->
      <!-- Sass -->
      <!--  -->

      <!--  -->
      <!-- Gitlab -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/gitlab.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Gitlab</span>
        </div>
      </div>
      <!--  -->
      <!-- Gitlab -->
      <!--  -->

      <!--  -->
      <!-- Ubuntu -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/ubuntu.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Ubuntu</span>
        </div>
      </div>
      <!--  -->
      <!-- Ubuntu -->
      <!--  -->

      <!--  -->
      <!-- Vagrant -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/vagrant.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Vagrant</span>
        </div>
      </div>
      <!--  -->
      <!-- Vagrant -->
      <!--  -->

      <!--  -->
      <!-- Virtual Box -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/virtualbox.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Virtual Box</span>
        </div>
      </div>
      <!--  -->
      <!-- Virtual Box -->
      <!--  -->
    </div>

  </div>
</div>
