<div class="row">
  <div class="col-sm-12 skills">
    <p class="plume">Not much contact</p>

    <div class="row skill-container">
      <!--  -->
      <!-- Android -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/android.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Android</span>
        </div>
      </div>
      <!--  -->
      <!-- Android -->
      <!--  -->

      <!--  -->
      <!-- Java -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/java.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Java</span>
        </div>
      </div>
      <!--  -->
      <!-- Java -->
      <!--  -->

      <!--  -->
      <!-- OpenCV -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/opencv.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">OpenCV</span>
        </div>
      </div>
      <!--  -->
      <!-- OpenCV -->
      <!--  -->

      <!--  -->
      <!-- Nginx -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/nginx.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Nginx</span>
        </div>
      </div>
      <!--  -->
      <!-- Nginx -->
      <!--  -->
    </div>
  </div>
</div>
