<div class="row">
  <div class="col-sm-12 skills">
    <p class="plume">Intermediate hability</p>

    <div class="row skill-container">
      <!--  -->
      <!-- Vue.js -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/vuejs.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Vue.js</span>
        </div>
      </div>
      <!--  -->
      <!-- Vue.js -->
      <!--  -->

      <!--  -->
      <!-- ES6 -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/es6.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">ES6</span>
        </div>
      </div>
      <!--  -->
      <!-- ES6 -->
      <!--  -->

      <!--  -->
      <!-- C# -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/csharp.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">C#</span>
        </div>
      </div>
      <!--  -->
      <!-- C# -->
      <!--  -->

      <!--  -->
      <!-- Elasticsearch -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/elasticsearch.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Elasticsearch</span>
        </div>
      </div>
      <!--  -->
      <!-- Elasticsearch -->
      <!--  -->

      <!--  -->
      <!-- Parcel -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/parcel.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Parcel</span>
        </div>
      </div>
      <!--  -->
      <!-- Parcel -->
      <!--  -->

      <!--  -->
      <!-- Yarn -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/yarn.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Yarn</span>
        </div>
      </div>
      <!--  -->
      <!-- Yarn -->
      <!--  -->

      <!--  -->
      <!-- Heroku -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/heroku.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Heroku</span>
        </div>
      </div>
      <!--  -->
      <!-- Heroku -->
      <!--  -->

      <!--  -->
      <!-- AWS -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/aws.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">AWS</span>
        </div>
      </div>
      <!--  -->
      <!-- AWS -->
      <!--  -->

      <!--  -->
      <!-- NewRelic -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/newrelic.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">NewRelic</span>
        </div>
      </div>
      <!--  -->
      <!-- NewRelic -->
      <!--  -->

      <!--  -->
      <!-- Resque -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/resque.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Resque</span>
        </div>
      </div>
      <!--  -->
      <!-- Resque -->
      <!--  -->

      <!--  -->
      <!-- Unity3d -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/unity3d.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Unity3d</span>
        </div>
      </div>
      <!--  -->
      <!-- Unity3d -->
      <!--  -->

      <!--  -->
      <!-- Vagrant -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/vagrant.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Vagrant</span>
        </div>
      </div>
      <!--  -->
      <!-- Vagrant -->
      <!--  -->

      <!--  -->
      <!-- Virtual Box -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/virtualbox.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Virtual Box</span>
        </div>
      </div>
      <!--  -->
      <!-- Virtual Box -->
      <!--  -->
    </div>
  </div>
</div>
