<div class="row">
  <div class="col-sm-12 skills">
    <p class="plume">Intermediate hability</p>

    <div class="row skill-container">
      <!--  -->
      <!-- Vue.js -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/vuejs.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Vue.js</span>
        </div>
      </div>
      <!--  -->
      <!-- Vue.js -->
      <!--  -->

      <!--  -->
      <!-- Elasticsearch -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/elasticsearch.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Elasticsearch</span>
        </div>
      </div>
      <!--  -->
      <!-- Elasticsearch -->
      <!--  -->

      <!--  -->
      <!-- Parcel -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/parcel.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Parcel</span>
        </div>
      </div>
      <!--  -->
      <!-- Parcel -->
      <!--  -->

      <!--  -->
      <!-- Yarn -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/yarn.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Yarn</span>
        </div>
      </div>
      <!--  -->
      <!-- Yarn -->
      <!--  -->

      <!--  -->
      <!-- Github -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/github.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Github</span>
        </div>
      </div>
      <!--  -->
      <!-- Github -->
      <!--  -->

      <!--  -->
      <!-- Bitbucket -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/bitbucket.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Bitbucket</span>
        </div>
      </div>
      <!--  -->
      <!-- Bitbucket -->
      <!--  -->

      <!--  -->
      <!-- Heroku -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/heroku.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Heroku</span>
        </div>
      </div>
      <!--  -->
      <!-- Heroku -->
      <!--  -->

      <!--  -->
      <!-- AWS -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/aws.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">AWS</span>
        </div>
      </div>
      <!--  -->
      <!-- AWS -->
      <!--  -->

      <!--  -->
      <!-- Docker -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/docker.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">Docker</span>
        </div>
      </div>
      <!--  -->
      <!-- Docker -->
      <!--  -->

      <!--  -->
      <!-- NewRelic -->
      <!--  -->
      <div class="col-6 col-sm-3 skill-col">
        <div class="skill-img">
          <img class="img-responsive" src="../assets/images/skills/newrelic.png" alt="">
        </div>
        <div class="skill-footer">
          <span class="badge skill-badge">NewRelic</span>
        </div>
      </div>
      <!--  -->
      <!-- NewRelic -->
      <!--  -->
    </div>
  </div>
</div>
