<!--  -->
<!-- Carreer -->
<!--  -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 carreer-col order-2 order-md-2 order-lg-1">
    <div class="about-image-container-all about-image-container-all-margin-top">
      <div class="about-image-container carreer-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/playing.jpg">
      </div>

      <div class="about-image-container carreer-image-container2">
        <img class="about-image about-image-real" src="../assets/images/sections/grandma.jpg">
      </div>

      <div class="about-image-container carreer-image-container3">
        <img class="about-image about-image-real" src="../assets/images/sections/intern.jpg">
      </div>

      <div class="about-image-container carreer-image-container4">
        <img class="about-image about-image-real" src="../assets/images/sections/ruby-conf.jpg">
      </div>

      <div class="about-image-container carreer-image-container5">
        <img class="about-image about-image-back" src="../assets/images/sections/ruby-conf.jpg">
      </div>

      <div class="about-image-container carreer-image-container6">
        <img class="about-image about-image-back" src="../assets/images/sections/intern.jpg">
      </div>

      <div class="about-image-container carreer-image-container7">
        <img class="about-image about-image-back" src="../assets/images/sections/playing.jpg">
      </div>

      <div class="about-image-container carreer-image-container8">
        <img class="about-image about-image-back" src="../assets/images/sections/ruby-conf.jpg">
      </div>

      <div class="about-image-container carreer-image-container9">
        <img class="about-image about-image-back" src="../assets/images/sections/grandma.jpg">
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-2">
    <p class="plume">Career</p>

    <p>Software development became a part of my life around my 15 years old, when I used to spend countless hours locked in my room playing MMORPGs (haha!). It was during this time that I discovered the magical world of the PRIVATE SERVERS (yay!). Also, during this period that I was invited by another player to create our own server. Although our partnership didn't last for long, it sparked my interest in programming.</p>

    <p>I started my journey in development with C#, building "if" statements, feeling like I knew everything (hahaha).</p>

    <p>In 2011 I started my graduation. It took me 4 years to receive my degree. I am immensely grateful for my grandma🌹who supported me financially on the first year, from thereon, I got a scholarship that certainly made me arrive where I am today.</p>

    <p>My first job in development was as an intern in December 2012, where I met the Ruby programming language <i class="fa fa-heart text-red"></i>. Past almost two years, I was hired and since then, I've been a dedicated Ruby Developer.</p>

    <p>Subsequently, In 2017, I decided to continue my professional growth and started my post-graduation to become a <i>Specialist in Web Development and Mobile Applications</i>. It took me two more years to earn this title. This was the first opportunity that I had to build a new application from scratch until make it live and available for clients and I had to do every step by my own, using all the knowledge gotten from the previous years, which was a rewarding experience.</p>

    <p>It was also during this period that I got an exciting opportunity to share my knowledge and experience with Ruby at <i>RubyConf</i>, where a teammate and I presented the talk <i>"Putting your Vue application on Rails,"</i>. That experience was truly awesome!</p>

    <p>Around the mid of 2022, I took another significant step in my career by founding my own company, <i>ALTF4 Desenvolvimento e Consultoria LTDA</i>, which provides development services to other businesses. This opened the door to international experiences that gave me the opportunity to work with a U.S. based company, where I am still employed until the current days.</p>

    <p>Continuing my thirst for learning, I decided to explore the game development with Unity3d. As a result, I successfully shipped my first game to Google Play in 2023. Don't forget to check it out in the Projects section; If you are a survivor experiences lover, I'm pretty sure that you'll love it!</p>

    <p>What does development mean to me? I'd say that it is an incredible opportunity to exercise my mind, solve problems, create innovative solutions, work with logic, <i>perform some magical feats</i>, and most importantly, it's something I really love.</p>
  </div>

</div>
<!--  -->
<!-- Carreer -->
<!--  -->
