<!--  -->
<!-- Free Time -->
<!--  -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
    <p class="plume">Free Time</p>

    <p>I love making the most of my free time by engaging in activities that bring me joy and happiness. Working out and playing games are some of my favorite pastimes, and they never fail to put a smile on my face, haha. Another passion of mine is singing, and I often enjoy harmonizing with my sister; it's truly my favorite hobby.</p>

    <p>Lately, I've been immersing myself in the fascinating world of game development, and I must admit, I'm thoroughly enjoying the experience!</p>

    <p>Wait a moment, what about studying? Isn't that supposed to be a part of my free time too? Oh, yes! I absolutely relish developing systems when I "have nothing to do." It's a way for me to explore different aspects beyond my routine and continuously learn new things. I usually dedicate time to it during nights or weekends, making the most of those moments.</p>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 free-time-col order-2 order-md-2 order-lg-2">
    <div class="about-image-container-all about-image-container-all-margin-top">
      <div class="about-image-container free-time-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/free-time.jpg">
      </div>

      <div class="about-image-container free-time-image-container2">
        <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
      </div>

      <div class="about-image-container free-time-image-container3">
        <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- Free Time -->
<!--  -->
