<!--  -->
<!-- Free Time -->
<!--  -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
    <p class="plume">Free Time</p>

    <p>I am used to enjoy my free time by doing things that make me happier than I already am :D. I like to workout and play games haha. I also love to sing, I usually do it with my sister and that is my favorite hobby.</p>

    <p>Wait a moment, what about study? Wasn't it suppose to be part of my free time? Oh yea, I also enjoy to develop systems while I "have nothing to do", this way I can learn different things of what I already do routinely. I'm used to do it at night or weekends.</p>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 free-time-col order-2 order-md-2 order-lg-2">
    <div class="about-image-container-all">
      <div class="about-image-container free-time-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/free-time.jpg">
      </div>

      <div class="about-image-container free-time-image-container2">
        <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
      </div>

      <div class="about-image-container free-time-image-container3">
        <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- Free Time -->
<!--  -->
