<!--  -->
<!-- Who Am I? -->
<!--  -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 degree-col order-2 order-md-2 order-lg-1">
    <div class="about-image-container-all">
      <div class="about-image-container degree-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/degree.jpg">
      </div>

      <div class="about-image-container degree-image-container2">
        <img class="about-image about-image-back" src="../assets/images/sections/degree.jpg">
      </div>

      <div class="about-image-container degree-image-container3">
        <img class="about-image about-image-back" src="../assets/images/sections/degree.jpg">
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-2">
    <p class="plume">Who am I?</p>

    <p>Specialist in Web Development and Mobile Applications at "Centro Universitário Eurípides de Marília" - UNIVEM, Marília/SP - Brazil.</p>

    <p>I have been working as a Ruby Developer since December 2012, and during my free time, I take up Freelance projects.</p>

    <p><a href="https://altf4dev-c9ee0e07f816.herokuapp.com/">ALTF4 Desenvolvimento e Consultoria LTDA</a> Founder.</p>
  </div>
</div>
<!--  -->
<!-- Who Am I? -->
<!--  -->
