<!--  -->
<!-- Personality -->
<!--  -->
<div class="row">

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
    <p class="plume">Personality</p>

    <p>I am a patient, collaborative, and good-humored individual. When I engage in any task, I always do my best and ensure everything is done right, driven by my perfectionist nature. :)</p>

    <p>Throughout my professional journey, I have been actively involved in team environments from the beginning of my career. My natural inclination toward collaboration made it easy for me to adapt and build strong bonds with my coworkers. I am always ready to offer a helping hand and take up opportunities to share knowledge with my colleagues.</p>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 personality-col order-2 order-md-2 order-lg-2">
    <div class="about-image-container-all">
      <div class="about-image-container personality-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/personality.jpg">
      </div>

      <div class="about-image-container personality-image-container2">
        <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
      </div>

      <div class="about-image-container personality-image-container3">
        <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- Personality -->
<!--  -->
