<!--  -->
<!-- Personality -->
<!--  -->
<div class="row">

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
    <p class="plume">Personality</p>

    <p>I'm a patient, collaborative and well humored person. I always do my best when I'm doing something and I also want everything done right. Yes, I am perfectionist. :)</p>

    <p>I've been working in a team since I started my enterprise life. I think it was easy to get adapted because, as I said before, I am collaborative. For this reason I've built great bonds with my coworkers always trying to help and learn with them.</p>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 personality-col order-2 order-md-2 order-lg-2">
    <div class="about-image-container-all">
      <div class="about-image-container personality-image-container1">
        <img class="about-image about-image-real" src="../assets/images/sections/personality.jpg">
      </div>

      <div class="about-image-container personality-image-container2">
        <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
      </div>

      <div class="about-image-container personality-image-container3">
        <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- Personality -->
<!--  -->
