<div class="row">
  <div class="col-sm-12 jobs">
    <div class="row job-container">

      <!--  -->
      <!-- Sobrevivente: Apocalipse Zumbi -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Sobrevivente: Apocalipse Zumbi</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/sobrevivente.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>My first adventure in the Game Develoment world. "Sobrevivente" is a survival casual game where the player needs to keep alive as much as he is able to and the only way to do that is by killing zombies in a post apocaliptic city.</p>

            <p>Armed with just your survival instincts and a trusty pistol, you need to do your best to survive in a desolate urban landscape teeming with nightmarish abominations.</p>

            <div clas="d-flex">
              <a class="google-play-link" href='https://play.google.com/store/apps/details?id=com.AltF4ConsultoriaeDesenvolvimentoLTDA.Sobrevivente&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Sobrevivente: Apocalipse Zumbi  -->
      <!--  -->

      <!--  -->
      <!-- HealthyHouse -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Healthy House</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/healthyhouse.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>This project was specifically designed for a local gym, offering a convenient appointment booking system and effective user control measures during the pandemic.</p>

            <p>This project was made to address the challenges posed by the pandemic, ensuring the safety and well-being of gym-goers by carefully managing the number of users at any given time. With the appointment booking feature, gym members can schedule their visits in advance, streamlining the process and minimizing overcrowding.</p>

            <p>By implementing this solution, the gym can operate smoothly while adhering to necessary health guidelines, providing a secure environment for its members to stay active and healthy. The project aims to facilitate a seamless gym experience while prioritizing the safety and comfort of its users.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- HealthyHouse  -->
      <!--  -->

      <!--  -->
      <!-- OnJuri -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">OnJuri</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/onjuri.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>Introducing my startup, initiated during my post-graduation, aiming to create a comprehensive platform that consolidates all essential information and documents required by lawyers to perform their jobs securely and efficiently.</p>

            <p>The platform is thoughtfully divided into various services or modules, allowing seamless integration with different functionalities. For instance, the "CalcJur" module is one such example.</p>

            <p>Additionally, the project features a guest area, where the lawyer's clients can access shared information, enabling them to stay updated on the services provided to them. This enhances transparency and fosters better communication between the lawyer and their clients.</p>

            <p>With a focus on convenience, security, and accessibility, this system is dedicated to empowering lawyers with a bunch of tools used in their practice, providing a safe and comfortable environment for their work.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- OnJuri  -->
      <!--  -->

      <!--  -->
      <!-- PlayRadio -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">PlayRadio</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/playradio.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>Web radio that offers users the convenience of selecting a playlist, ensuring a continuous music playback throughout the day. The system intelligently loads more music automatically as the playlist nears its end, delivering a seamless music listening experience. It also includes a powerful feature which is the ability for users to request custom advertisements, creating a personalized listening experience. This functionality is complemented by a robust system that efficiently handles numerous audio uploads for advertisements.</p>

            <p>The frontend of the project takes center stage, communicating with its own API to fetch all the necessary data for rendering the page. To enhance real-time interactivity, Rails ActionCable (WebSockets) is utilized, ensuring that the user's current state on the page is effectively validated. This enables smooth management of music playback, advertisements, and alerts, giving users a dynamic and engaging experience.</p>

            <p>With a well-balanced blend of frontend expertise and smart backend infrastructure, this web radio sets a new standard in music streaming, captivating users and offering them unparalleled control over their music choices and personalized content.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- PlayRadio  -->
      <!--  -->
    </div>
  </div>
</div>
