<div class="row">
  <div class="col-sm-12 jobs">
    <div class="row job-container">

      <!--  -->
      <!-- Sobrevivente: Apocalipse Zumbi -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Sobrevivente: Apocalipse Zumbi</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/sobrevivente.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>My first adventure in the Game Develoment world. "Sobrevivente" is a survival casual game where the player needs to keep alive as much as he is able to and the only way to do that is by killing zombies in a post apocaliptic city.</p>

            <p>Armed with just your survival instincts and a trusty pistol, you need to do your best to survive in a desolate urban landscape teeming with nightmarish abominations.</p>

            <div clas="d-flex">
              <a class="google-play-link" href='https://play.google.com/store/apps/details?id=com.AltF4ConsultoriaeDesenvolvimentoLTDA.Sobrevivente&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Sobrevivente: Apocalipse Zumbi  -->
      <!--  -->

      <!--  -->
      <!-- Musicale -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Musicale</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/musicale.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>This game evolves three passions of my life: Music, Game and Development</p>

            <p>Simple and catvating, Musicale challenges you to improve your memory skills thought the music</p>

            <div clas="d-flex">
              <a class="google-play-link" href='https://play.google.com/store/apps/details?id=com.AltF4DesenvolvimentoeConsultoriaLTDA.Musicale&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Musicale  -->
      <!--  -->

      <!--  -->
      <!-- Coloreto -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Coloreto</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/coloreto.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>A simple game that immerses you into a lovable adventure of colors and words!</p>

            <p>Coloreto aims to improve your cognitive skills with a very funny challenge.</p>

            <div clas="d-flex">
              <a class="google-play-link" href='https://play.google.com/store/apps/details?id=com.ALTF4ConsultoriaeDesenvolvimentoLTDA.Coloreto&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Coloreto  -->
      <!--  -->

      <!--  -->
      <!-- HealthyHouse -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Healthy House</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/healthyhouse.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>This project was specifically designed for a local gym, offering a convenient appointment booking system and effective user control during the pandemic, ensuring the safety and well-being of users by carefully managing the number of them at any given time.</p>

            <p>By implementing this solution, the gym can operate smoothly while adhering to necessary health guidelines, providing a secure environment for its members to stay active and healthy. The project aims to facilitate a gym experience while prioritizing the safety and comfort of its users.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- HealthyHouse  -->
      <!--  -->

      <!--  -->
      <!-- OnJuri -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">OnJuri</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/onjuri.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>Initiated during my post-graduation, this project aims to create a comprehensive platform that consolidates all essential information and documents required by lawyers to perform their jobs securely and efficiently</p>

            <p>Additionally, the project counts with a guest area, where the lawyer's clients can access shared information, enabling them to stay updated on the services provided to them. This enhances transparency and promote better communication between the lawyer and their clients.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- OnJuri  -->
      <!--  -->

      <!--  -->
      <!-- PlayRadio -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">PlayRadio</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/playradio.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>Web radio that offers the convenience of selecting a playlist, ensuring a continuous music playback throughout the day with custom advertisements being played by predefined periods.</p>

            <p>The system loads more music automatically as the playlist nears its end, delivering a seamless music listening experience, which makes this application perfect to be used in stores and supermakets for example.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- PlayRadio  -->
      <!--  -->
    </div>
  </div>
</div>
