<div class="row">
  <div class="col-sm-12 jobs">
    <p class="plume">Private</p>

    <div class="row job-container">

      <!--  -->
      <!-- CalcJur -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">CalcJur</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/calcjur.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>Rails project created to calculate a person's work time in order to use its results in juridical actions. The purpose of the project is to grow and become a web juridical system containing various modules for different areas of law.</p>

            <div>
              <a href="http://calc-jur.herokuapp.com" target="_blank" class="btn btn-red">
                <i class="fa fa-desktop"></i> Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- CalcJur  -->
      <!--  -->

      <!--  -->
      <!-- Monitoring Emotions -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Monitoring Emotions</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/commingsoon.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>This Rails project was developed to be used on a master's degree presentation. It is a system that access a webcam and take photos from the user to be processed by another service, returning his/her emotion.</p>
            <p>It also includes a music player section which plays songs according to the detected emotion and user preferences. It holds users registration, statistics and web service and socket integration.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Monitoring Emotions  -->
      <!--  -->

      <!--  -->
      <!-- PlusFastInternet -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">PlusFastInternet</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/sageone.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>System developed to control the clients's payment of an Internet provider. Basically composed by a CRUD of clients and payments. The client is only able to check his/her payments while the admin can access all the system, in another words, it has access control.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- PlusFastInternet  -->
      <!--  -->

      <!--  -->
      <!-- LeggrandDDNS -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Leggrand DDNS</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/commingsoon.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>Ruby desktop application developed to update automatically the IP on Legrand DDNS website. This is useful on connections with dynamic IPs that needs to communicate with a external service by using a DNS name.</p>
            <p>On this case it was a house monitoring system. To avoid the user to keep looking his connection all the time, it is necessary only to setup this tool and it will do all the job when IP changes.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- LeggrandDDNS  -->
      <!--  -->

      <!--  -->
      <!-- PlayRadio -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">PlayRadio</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/commingsoon.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>Web radio that allows the user to select a playlist and keep playing all day long, loading more musics automatically when the list is getting on the end. Another functionality is to request custom advertisements to play on your place, this part counts with lots of audio uploads.</p>
            <p>The most part of the job on this project was done on frontend by communicating with its own API to get all data necessary to render the page correctly. This project also uses Rails ActionCable (WebSockets) to validate the current state of the user on page by allowing or not him to keep playing the musics, advertisements and alerts.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- PlayRadio  -->
      <!--  -->
    </div>
  </div>
</div>
