<div class="row">
  <div class="col-sm-12 jobs">
    <p class="plume">Public</p>

    <div class="row job-container">

      <!--  -->
      <!-- Color Segmentation -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Color Segmentation</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/colorsegmentation.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>This was an idea developed by me and my coworker <a href="https://github.com/luanpontolio" target="_blank">Luan Pontolio</a> to help people who work with image processing. With this project, it is possible to select one or more color interval and apply the segmentation of areas containing these intervals to one or more images. The purpose is to segment images by color intervals.</p>

            <div>
              <a href="https://github.com/felipegruoso/color-segmentation" target="_blank" class="btn btn-red">
                <i class="fa fa-github"></i> Repository
              </a>
              <a href="http://colorsegmentation.herokuapp.com" target="_blank" class="btn btn-red">
                <i class="fa fa-desktop"></i> Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Color Segmentation  -->
      <!--  -->

      <!--  -->
      <!-- Materialize Colorpicker -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Materialize Colorpicker</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/commingsoon.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>It refers to a color picker using Materialize CSS. The original source was called bootstrap-colorpicker and it used bootstrap to stylize the component. In my version, Materialize is used instead of bootstrap to give this component the material design.</p>

            <div>
              <a href="https://github.com/felipegruoso/color-segmentation" target="_blank" class="btn btn-red">
                <i class="fa fa-github"></i> Repository
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Materialize Colorpicker  -->
      <!--  -->

      <!--  -->
      <!-- SageOne -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">SageOne</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-1 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/sageone.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-2">
            <p>Developed as job test to apply on Sage Group, this solution holds a product CRUD which can include multiple categories and selling values. There is also a module to import files from another databases by uploading it on a specific view.</p>

            <div>
              <a href="https://github.com/felipegruoso/sage_one" target="_blank" class="btn btn-red">
                <i class="fa fa-github"></i> Repository
              </a>
              <a href="http://sageone.herokuapp.com" target="_blank" class="btn btn-red">
                <i class="fa fa-desktop"></i> Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- SageOne  -->
      <!--  -->

      <!--  -->
      <!-- Spotify Gem -->
      <!--  -->
      <div class="col-12 job-col">
        <p class="plume job-title">Spotify Gem</p>

        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 job-img">
            <img class="img-responsive" src="../assets/images/portfolio/spotifyapi.png">
          </div>

          <div class="col-12 col-md-7 order-2 order-md-1">
            <p>Gem to access Spotify API. While I was developing the Monitoring Emotions system (listed on private section of my portfolio), I had some difficulties to make contact with Spotify and play songs.</p>
            <p>For this reason I decided to work on a Ruby solution to supply features that another gems didn't provide me, like timeout. This gem is not finished yet, Pull Requests are welcome.</p>

            <div>
              <a href="https://github.com/felipegruoso/spotify-api" target="_blank" class="btn btn-red">
              <i class="fa fa-github"></i> Repository
            </a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Spotify Gem  -->
      <!--  -->
    </div>
  </div>
</div>
