.skill-container {
  align-items: stretch;

  .skill-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;

    .skill-img {
      max-height: 120px;
      display: flex;
      margin-bottom: 10px;

      img {
        max-width: 120px;
        max-height: 120px;
        margin: auto;
      }
    }

    .skill-badge {
      background-color: #9038358c;
      color: #f2eae4;
    }
    &:hover {
      .skill-badge {
        background-color: #903835;
      }
    }
  }
}