.contact-section {
  .find-me-icons {
    margin: 35px 0;
  }

  .find-me-icons > i {
    font-size: 70px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 130px;
    border-radius: 100%;
    color: $secondary-color;
    box-shadow: inset 0 0 0 1px #903835;
    -webkit-box-shadow: inset 0 0 0 1px #903835;
    transition: background-color 400ms, background-color 400ms;
    position: relative;
  }

  .normal-icon {
    background-color: #9038358c !important;
    color: $secondary-color !important;
    box-shadow: inset 0 0 0 1px #9038358c !important;
    -webkit-box-shadow: inset 0 0 0 1px #9038358c !important;
    -webkit-box-shadow: inset 0 0 0 5px $secondary-color !important;

    &:hover {
      background-color: #903835 !important;
    }
  }

  .github-icon {
    font-size: 140px !important;
    color: #9038358c !important;
    box-shadow: inset 0 0 0 1px #90383530 !important;
    -webkit-box-shadow: inset 0 0 0 1px #90383530 !important;

    &:hover {
      color: #903835 !important;
    }
  }
}
