.contact-section {
  .find-me-icons {
    margin: 35px 0;
  }

  .find-me-icons > i {
    font-size: 70px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 130px;
    border-radius: 100%;
    color: $secondary-color;
    transition: background-color 400ms, background-color 400ms;
    position: relative;
  }

  .normal-icon {
    background-color: $red-transparent !important;
    color: $secondary-color !important;

    &:hover {
      background-color: $red !important;
    }
  }

  .github-icon {
    font-size: 150px !important;
    color: $red-transparent !important;

    &:hover {
      color: $red !important;
    }
  }
}
