.portfolio-section {
  .btn-red {
    color: white;
    background-color: $red;
    border-color: $red;

    &:hover {
      background-color: $red-dark;
      border-color: $red-dark;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $red-transparent;
    }
  }

  .job-col {
    margin-bottom: 80px;

    .job-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .job-img {
      img {
        width: 100%;
        filter: contrast(70%);
        transition: filter 300ms linear;

        @media (max-width: 771px) {
          margin-bottom: 40px;
        }

        &:hover {
          filter: contrast(100%);
        }
      }
    }
  }

  #show-other-projects-checkbox {
    display: none;
    &:checked {
      ~ label[for="show-other-projects-checkbox"] {
        display: none;
      }

      ~ .other-projects {
        opacity: 1;
        height: auto;
      }
    }
  }

  .other-projects {
    opacity: 0;
    height: 0;
    transition: opacity 1s;
  }

  .google-play-link {
    display: flex;

    .google-play-img {
      margin-left: -12px;
      height: 80px;
    }
  }
}
