$mobile-break-point: 576px;

@font-face {
  font-family: "Plume";
  src: url("../fonts/Plume-Free-Brush-Font.otf") format("opentype");
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.full-section {
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.second-bg {
  background-color: #f2eae4;
}

.code-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../images/notebook.jpg');
  filter: contrast(80%);
}

.default-section {
  padding: 60px 100px;
  overflow: hidden;

  @media (max-width: 772px) {
    padding: 60px 30px;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;

    @media (max-width: $mobile-break-point) {
      font-size: 16px;
    }

    &.plume {
      font-size: 30px;
    }
  }
}

h2 {
  font-size: 60px;
  margin-bottom: 60px;
}

.plume{
  font-family: 'Plume';
}


.text-red {
  color: #903835;
}

.text-white {
  color: white;
}

.no-more-histories {
  font-size: 3vw;
  color: #18121a;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.mt-lg {
  margin-top: 90px;
}

.skill-panel {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px #91897b;
}

.skill-panel > div > img {
  max-width: 120px;
  max-height: 120px;
  margin: auto;
}

.skill-col {
  padding-bottom: 15px;
}

.skill-footer {
  background-color: white;
  border: 0;
  text-align: center;
}

/*ARROW*/
.arrow{
  position: fixed;
  bottom: 50px;
  right: 90px;
  z-index: 1;
  transform: translate(-50%,-50%);

  @media (max-width: 950px) {
    right: 50px;
  }

  @media (max-width: $mobile-break-point) {
    right: 30px;
  }
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #9038358c;
    border-right: 5px solid #9038358c;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2s infinite;

    @media (max-width: $mobile-break-point) {
      width: 15px;
      height: 15px;
      margin: -5px;
    }
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/*ARROW*/