$mobile-break-point: 576px;
$red: #903835;
$red-dark: #772927;
$red-transparent: #9038358c;
$secondary-color: #f2eae4;

@font-face {
  font-family: "Plume";
  src: url("../fonts/Plume-Free-Brush-Font.otf") format("opentype");
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.second-bg {
  background-color: #f2eae4;
}

.full-section {
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.default-section {
  padding: 60px 100px;
  overflow: hidden;

  @media (max-width: 772px) {
    padding: 60px 30px;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;

    @media (max-width: $mobile-break-point) {
      font-size: 16px;
    }

    &.plume {
      font-size: 30px;
    }
  }
}

h2 {
  font-size: 60px;
  margin-bottom: 60px;
}

.plume{
  font-family: 'Plume';
}

.text-red {
  color: $red;
}

.text-white {
  color: white;
}

.d-flex {
  display: flex;
}

@import 'arrow';
@import 'home/style';
@import 'about/style';
@import 'skills/style';
@import 'portfolio/style';
@import 'contact/style';
