<!--  -->
<!-- ABOUT -->
<!--  -->
<section class="default-section about-section">
  <div class="section-header">
    <h2 class="plume text-red">About</h2>
  </div>

  <!--  -->
  <!-- Who Am I? -->
  <!--  -->
  <div class="col-12 section-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 degree-col order-2 order-md-2 order-lg-1">
        <div class="about-image-container-all">
          <div class="about-image-container degree-image-container1">
            <img class="about-image about-image-real" src="../assets/images/sections/degree.jpg">
          </div>

          <div class="about-image-container degree-image-container2">
            <img class="about-image about-image-back" src="../assets/images/sections/degree.jpg">
          </div>

          <div class="about-image-container degree-image-container3">
            <img class="about-image about-image-back" src="../assets/images/sections/degree.jpg">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-2">
        <p class="plume">Who am I?</p>

        <p>Specialist in Web Development and Mobile Applications at "Centro Universitário Eurípides de Marília" - UNIVEM, Marília/SP - Brazil.</p>

        <p>I work as a Web Developer since December 2012 and I use to do some Freelance job during free time.</p>
      </div>
    </div>
    <!--  -->
    <!-- Who Am I? -->
    <!--  -->

    <!--  -->
    <!-- Personality -->
    <!--  -->
    <div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
        <p class="plume">Personality</p>

        <p>I'm a patient, collaborative and well humored person. I always do my best when I'm doing something and I also want everything done right. Yes, I am perfectionist. :)</p>

        <p>I've been working in a team since I started my enterprise life. I think it was easy to get adapted because, as I said before, I am collaborative. For this reason I've built great bonds with my coworkers always trying to help and learn with them.</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 personality-col order-2 order-md-2 order-lg-2">
        <div class="about-image-container-all">
          <div class="about-image-container personality-image-container1">
            <img class="about-image about-image-real" src="../assets/images/sections/personality.jpg">
          </div>

          <div class="about-image-container personality-image-container2">
            <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
          </div>

          <div class="about-image-container personality-image-container3">
            <img class="about-image about-image-back" src="../assets/images/sections/personality.jpg">
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Personality -->
    <!--  -->

    <!--  -->
    <!-- Carreer -->
    <!--  -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 carreer-col order-2 order-md-2 order-lg-1">
        <div class="about-image-container-all">
          <div class="about-image-container carreer-image-container1">
            <img class="about-image about-image-real" src="../assets/images/sections/playing.jpg">
          </div>

          <div class="about-image-container carreer-image-container2">
            <img class="about-image about-image-real" src="../assets/images/sections/grandma.jpg">
          </div>

          <div class="about-image-container carreer-image-container3">
            <img class="about-image about-image-real" src="../assets/images/sections/intern.jpg">
          </div>

          <div class="about-image-container carreer-image-container4">
            <img class="about-image about-image-real" src="../assets/images/sections/ruby-conf.jpg">
          </div>

          <div class="about-image-container carreer-image-container5">
            <img class="about-image about-image-back" src="../assets/images/sections/ruby-conf.jpg">
          </div>

          <div class="about-image-container carreer-image-container6">
            <img class="about-image about-image-back" src="../assets/images/sections/intern.jpg">
          </div>

          <div class="about-image-container carreer-image-container7">
            <img class="about-image about-image-back" src="../assets/images/sections/playing.jpg">
          </div>

          <div class="about-image-container carreer-image-container8">
            <img class="about-image about-image-back" src="../assets/images/sections/ruby-conf.jpg">
          </div>

          <div class="about-image-container carreer-image-container9">
            <img class="about-image about-image-back" src="../assets/images/sections/grandma.jpg">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-2">
        <p class="plume">Career</p>

        <p>Well, the software development came to my life around my 15 years old, when I used to get "locked" in my room playing MMORPGs haha.. It was when I discovered the PIRATE SERVERS (yay) and I found a guy who called me to make our own server. We tried, but, unfortunately, our partnership didn't last for long...</p>

        <p>I used to develop in C# (it was the best then). Building "if" statements, I thought I knew everything hahaha.</p>

        <p>In 2011 I started my graduation. It took me 4 years to receive my degree. I'm very thankful for my grandma who helped me financially on the first year, from it on I got a scholarship that certainly made me arrive where I am today.</p>

        <p>My first job with development was as an intern, in December 2012, when I met the Ruby language &lt;3 (subsequently I was hired). From that moment onwards I've been a Ruby Developer.</p>

        <p>Subsequently, in 2017, I decided to keep growing up and started my post graduation to become a Specialist in Web Development and Mobile Applications. Two more years to got this title.</p>

        <p>In 2017 I had a chance to share my experience with this language at RubyConf. Me and a teammate presented the talk <i>"Putting your Vue application on Rails"</i>. It was awesome!</p>

        <p>What is development for me? Development is to exercise the mind, solve problems, create solutions, work with logic, and of course, I love that.</p>
      </div>

    </div>
    <!--  -->
    <!-- Carreer -->
    <!--  -->

    <!--  -->
    <!-- Free Time -->
    <!--  -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-1">
        <p class="plume">Free Time</p>

        <p>I am used to enjoy my free time by doing things that make me happier than I already am :D. I like to workout and play games haha. I also love to sing, I usually do it with my sister and that is my favorite hobby.</p>

        <p>Wait a moment, what about study? Wasn't it suppose to be part of my free time? Oh yea, I also enjoy to develop systems while I "have nothing to do", this way I can learn different things of what I already do routinely. I'm used to do it at night or weekends.</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 free-time-col order-2 order-md-2 order-lg-2">
        <div class="about-image-container-all">
          <div class="about-image-container free-time-image-container1">
            <img class="about-image about-image-real" src="../assets/images/sections/free-time.jpg">
          </div>

          <div class="about-image-container free-time-image-container2">
            <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
          </div>

          <div class="about-image-container free-time-image-container3">
            <img class="about-image about-image-back" src="../assets/images/sections/free-time.jpg">
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Free Time -->
    <!--  -->
  </div>
</section>
<!--  -->
<!-- ABOUT -->
<!--  -->