<!--  -->
<!-- CONTACT -->
<!--  -->
<section class="default-section second-bg">
  <div class="section-header">
    <h2 class="plume text-red">Find me</h2>
  </div>

  <div class="section-body">
  <div class="row">
    <!--  -->
    <!-- Github -->
    <!--  -->
    <div class="col-6 col-sm-3 text-center">
      <a href="https://github.com/felipegruoso" target="blank">
        <div class="find-me-icons">
          <i class="fa fa-github github-icon"></i>
        </div>
      </a>
    </div>
    <!--  -->
    <!-- Github -->
    <!--  -->

    <!--  -->
    <!-- Facebook -->
    <!--  -->
    <div class="col-6 col-sm-3 text-center">
      <a href="https://www.facebook.com/felipegruoso" target="blank">
        <div class="find-me-icons">
          <i class="fa fa-facebook normal-icon"></i>
        </div>
      </a>
    </div>
    <!--  -->
    <!-- Facebook -->
    <!--  -->

    <!--  -->
    <!-- LinkedIn -->
    <!--  -->
    <div class="col-6 col-sm-3 text-center">
      <a href="https://br.linkedin.com/in/felipegruoso" target="blank">
        <div class="find-me-icons">
          <i class="fa fa-linkedin normal-icon"></i>
        </div>
      </a>
    </div>
    <!--  -->
    <!-- LinkedIn -->
    <!--  -->

    <!--  -->
    <!-- Email -->
    <!--  -->
    <div class="col-6 col-sm-3 text-center">
      <a href="mailto:felipe.gruoso@gmail.com">
        <div class="find-me-icons">
          <i class="fa fa-envelope normal-icon"></i>
        </div>
      </a>
    </div>
    <!--  -->
    <!-- Email -->
    <!--  -->
  </div>
</div>
</section>
<!--  -->
<!-- CONTACT -->
<!--  -->