<!--  -->
<!-- SKILLS -->
<!--  -->
<section class="default-section second-bg">
  <div class="section-header">
    <h2 class="plume text-red">Skills</h2>
  </div>

  <div class="section-body">
    <div class="row">
      <div class="col-sm-12 skills">
        <p class="plume">Frequently used</p>

        <div class="row skill-container">
          <!-- Ruby -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/ruby.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Ruby</span>
            </div>
          </div>
          <!-- Ruby -->

          <!-- Rails -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/rails.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Rails</span>
            </div>
          </div>
          <!-- Rails -->

          <!-- MySQL -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/mysql.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">MySQL</span>
            </div>
          </div>
          <!-- MySQL -->

          <!-- Redis -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/redis.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Redis</span>
            </div>
          </div>
          <!-- Redis -->

          <!-- HTML -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/html.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">HTML</span>
            </div>
          </div>
          <!-- HTML -->

          <!-- CSS -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/css.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">CSS</span>
            </div>
          </div>
          <!-- CSS -->

          <!-- JavaScript -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/javascript.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">JavaScript</span>
            </div>
          </div>
          <!-- JavaScript -->

          <!-- Sass -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/sass.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Sass</span>
            </div>
          </div>
          <!-- Sass -->

          <!-- Gitlab -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/gitlab.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Gitlab</span>
            </div>
          </div>
          <!-- Gitlab -->

          <!-- Ubuntu -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/ubuntu.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Ubuntu</span>
            </div>
          </div>
          <!-- Ubuntu -->

          <!-- Vagrant -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/vagrant.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Vagrant</span>
            </div>
          </div>
          <!-- Vagrant -->

          <!-- Virtual Box -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/virtualbox.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Virtual Box</span>
            </div>
          </div>
          <!-- Virtual Box -->
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 skills">
        <p class="plume">Intermediate hability</p>

        <div class="row skill-container">
          <!-- Vue.js -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/vuejs.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Vue.js</span>
            </div>
          </div>
          <!-- Vue.js -->

          <!-- Elasticsearch -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/elasticsearch.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Elasticsearch</span>
            </div>
          </div>
          <!-- Elasticsearch -->

          <!-- Parcel -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/parcel.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Parcel</span>
            </div>
          </div>
          <!-- Parcel -->

          <!-- Yarn -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/yarn.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Yarn</span>
            </div>
          </div>
          <!-- Yarn -->

          <!-- Github -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/github.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Github</span>
            </div>
          </div>
          <!-- Github -->

          <!-- Bitbucket -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/bitbucket.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Bitbucket</span>
            </div>
          </div>
          <!-- Bitbucket -->

          <!-- Heroku -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/heroku.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Heroku</span>
            </div>
          </div>
          <!-- Heroku -->

          <!-- AWS -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/aws.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">AWS</span>
            </div>
          </div>
          <!-- AWS -->

          <!-- Docker -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/docker.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Docker</span>
            </div>
          </div>
          <!-- Docker -->

          <!-- NewRelic -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/newrelic.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">NewRelic</span>
            </div>
          </div>
          <!-- NewRelic -->




        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 skills">
        <p class="plume">Not much contact</p>

        <div class="row skill-container">
          <!-- Android -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/android.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Android</span>
            </div>
          </div>
          <!-- Android -->

          <!-- Java -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/java.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">Java</span>
            </div>
          </div>
          <!-- Java -->

          <!-- C# -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/csharp.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">C#</span>
            </div>
          </div>
          <!-- C# -->

          <!-- OpenCV -->
          <div class="col-6 col-sm-3 skill-col">
            <div class="skill-img">
              <img class="img-responsive" src="../assets/images/skills/opencv.png" alt="">
            </div>
            <div class="skill-footer">
              <span class="badge skill-badge">OpenCV</span>
            </div>
          </div>
          <!-- OpenCV -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- SKILLS -->
<!--  -->
